<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Event-planner</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="margin: 50px;">
    <h1>List of Event-planner</h1>
    <br>
    <table class="table">
            <thead>
                <tr>
                    <th>planner_id</th>
                    <th>planner_name</th>
                    <th>planner_phn</th>
                    <th>planner_loc</th>
                    <th>charges</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for planner in planners %}
                <tr>
                    <td>{{planner.planner_id}}</td>
                    <td>{{planner.planner_name}}</td>
                    <td>{{planner.planner_phn}}</td>
                    <td>{{planner.planner_loc}}</td>
                    <td>{{planner.charges}}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="update">Update</a>
                        <a class="btn btn-danger btn-sm" href="delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
</body>
</html>