<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Management System</title>
    <link rel= "stylesheet" type= "text/css" href= "/static/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<nav>
    <ul>
        <li><a href = '/create_event'>Event</a></li>
        <li><a href = '/planview'>Planner</a></li>
        <li><a href = '/venue'>Venue</a></li>
        <li><a href = '/plansview'>No of events</a></li>
        <li><a href = '/logout'>Logout</a></li>
    </ul>
</nav>
<h1 style="text-align: center; color:#ffffffa3;font-weight:Bold;font-size:50px">Edit Event Planner </h1>
<form action="/planedit/{{post.planner_id}}" method="post">
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{message}}
    </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    <label for="event-name">PLANNER NAME:</label>
    <input type="text" id="planner_name" name="planner_name" value="{{post.planner_name}}"><br>

    <label for="event-date">PLANNER PHONE:</label>
    <input type="number" id="planner_phn" name="planner_phn" value="{{post.planner_phn}}"><br>
  
    <label for="event-time">PLANNER LOCATION:</label>
    <input type="text" id="planner_loc" name="planner_loc" value="{{post.planner_loc}}"><br>
  
    <label for="venue">CHARGES:</label>
    <input type="text" id="charges" name="charges" value="{{post.charges}}"><br>

    <input type="submit" value="Submit">
  </form>
</body>
</html>